.details{

}

.details h2{
    font-size: 3.5rem;
    margin-bottom: 80px;
}

.details h3{
    font-size: 2rem;
    margin-top: 40px;
}

.html{
    margin-top: 40px;
}

.featured{
    margin-bottom: 40px;
}